body {
  color: #dddddd;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  overflow: hidden;
  margin-bottom: 50px;
  background-color: #222629;
  text-rendering: optimizeLegibility;
}

.team{
  display: flex;
  flex-direction: column;
}

.player {
  margin: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  transition: box-shadow .2s;
  background-color: #6B6E70;
  border-radius: 8px;
}

.player:hover {
  box-shadow: 0 6px 6px -4px rgba(0,0,0,.6), 0 6px 8px 0 rgba(0,0,0,.42), 0 2px 16px 0 rgba(0,0,0,.36);
}

.player-name {
  display: block;
  font-size: 14px;
  font-weight: bold;
  vertical-align: top;
  margin: 5px;
  margin-bottom: 0;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  background-color: #474B4F;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: 175px;
  text-overflow: ellipsis;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.player-matches {
  font-size: 10px;
  font-weight: normal;
}
.player-rank {
  font-size: 12px;
  text-align: center;
  margin-top: -24px;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  text-shadow: 1px 1px rgba(0,0,0,.2);
  color: #dddddd;
}

.player-avatar {
  height: 75px;
  display: block;
  border-radius: 8px;
  margin: 5px;
  float: left;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border: 2px #474B4F solid;
}

.side {
  width: 100%;
  text-align: center;
  color: #61892F;
  text-shadow: black 0px 0px 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #262626;
}

.rank  {
  display: block;
  float: right;
  margin: 5px;
  position: relative;
  width: 75px;
}

.player-rank-icon {
  width: 100%;
  filter: drop-shadow(2px 1px 0px rgba(0,0,0,.2));
}

.player-rank-stars{
  width: 100%;
  margin-top: -15px;
  position: absolute;
  filter: drop-shadow(2px 1px 0px rgba(0,0,0,.2));
}

.fade-out {
  opacity: .4;
  transition: all .5s;
}

.fade-out:hover {
  opacity: 1;
  box-shadow: 0px 0px 20px #fff;
}

.featured-player {
  position: fixed;
  cursor: pointer;
  bottom: 40px;
  left: 50%;
  width: 250px;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  text-shadow: 1px 1px rgba(0,0,0,.2);
  height: 350px;
  margin-left: -141px;
  padding: 10px;
  padding-right: 12px;
  border-radius: 8px;
  border: 8px black solid;
  background-color: #6B6E70;
  transition: opacity .5s ease-in-out, box-shadow .2s;
}

.featured-player:hover {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.3), 0 12px 17px 2px rgba(0,0,0,.21), 0 5px 22px 4px rgba(0,0,0,.18);
}

.featured-player .name-row {
  width: 100%;
  height: 30px;
  border: 2px solid #6B6E70;
  background: #474B4F;
  background-image: url("assets/images/black-paper.png");
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.featured-player .name {
  margin-top: 7px;
  font-size: 1em;
  margin-left: 7px;
  margin-top: 6px;]
}

.featured-player .card-img {
  border: 2px solid #6B6E70;
  width: 100%;
  height: 155px;
  margin-top: -2px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.featured-player .card-avatar {
  position: absolute;
  top: 0;
  height: 100%;
  margin-top: -2px;
  border: 2px solid #6B6E70;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.featured-player .card-bg {
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  margin: -10px;
}

.card-bg-inner {
  width: 100%;
}

.featured-player .info-row {
  width: 100%;
  height: 30px;
  border: 2px solid #6B6E70;
  background: #474B4F;
  background-image: url("assets/images/black-paper.png");
  margin-top: -2px;
  position: relative;
}
.featured-player .rank {
  margin-left: 3px;
}
.featured-player .info-row img {
  float: right;
  margin-right: 8px;
  margin-top: 1px;
  height: 26px;
  border-radius: 20px;
  padding: 1px;
  filter: drop-shadow(1px 1px 0 #6B6E70) drop-shadow(-1px -1px 0 #6B6E70) drop-shadow(1px -1px 0 #6B6E70) drop-shadow(-1px 1px 0 #6B6E70);
}

.featured-player h4 {
  margin-top: 7px;
  margin-left: 8px;
  margin-bottom: 0;
  font-size: .9em;
  float: left;
}

.featured-player .wl-row {
  font-size: .9em;
  float: right;
  height: 20px;
  border: 2px solid #6B6E70;
  border-radius: 8px;
  background: #474B4F;
  background-image: url("assets/images/black-paper.png");
  position: absolute;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  bottom: 4px;
  right: 4px;
  font-weight: bolder;
  text-shadow: 1px 1px rgba(0,0,0,.3);
}

.featured-player .wl-row .wins {
  display: inline-block;
  margin-left: 5px;
  margin-top: 1px;
  color: #61892F;
}

.featured-player .wl-row .losses {
  display: inline-block;
  color: #a33245;
  margin-top: 1px;
  margin-left: -3px;
  margin-right: 3px;
}

.featured-player .description {
  border: 2px solid #6B6E70;
  margin-top: -2px;
  position: relative;
  background-color: #474B4F;
  background-image: url("assets/images/black-paper.png");
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 0 0 8px 8px;
  width: 100%;
  height: 119px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3px;
  padding-bottom: 3px;
}

.featured-player .recent-hero {
  float: left;
}

.win {
  color: #61892F;
  font-size: .7em;
  margin: 0;
  float: left;
  margin-top: .7em;
}

.loss {
  color: #a33245;
  font-size: .7em;
  margin: 0;
  float: left;
  margin-top: .7em;
}

.featured-player .hero {
  float: left;
  height: 28px;
  filter: drop-shadow(0px 2px 0px rgba(0,0,0,.2));
  margin-left: 8px;
  margin-right: -2px;
  border-radius: 8px 0 0 8px;
  border: 2px #6B6E70 solid;
}

.featured-player .hero-win-loss {
  background-color: #6B6E70;
  border-radius: 0 8px 8px 0;
  filter: drop-shadow(2px 2px 0px rgba(0,0,0,.2));
  display: inline-block;
  width: 38px;
  height: 28px;
  border: 2px #6B6E70 solid;
  font-size: .7em;
}

.featured-player .hero-wl-inner {
  margin-top: .7em;
  text-align: center;
}

#dire {
  float: right;
}

#radiant {
  float: left;
}

#reset{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  right: 5px;
  background-image: url('./assets/images/reload.png');
  background-size: cover;
  transition: all .5s ease-in-out;
}

#reset:hover{
  transform: rotate(360deg);
}
