.role-graph {
  height: calc(100% - 40px);
  position: relative;
  background-color: #f5f5f5;
  width: 25px;
  margin: 20px;
  border: 1px solid #999;

  .role {
    display: flex;
    align-items: center;
    background-size: cover;

    p {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 1px 3px;
      margin-left: 30px;
      font-size: 10px;
      font-family: arial;
      opacity: 0;
      transition: opacity .5s;
    }
  }

  .support-bar {
    background-color: yellow;
    background-image: url(../../images/support-graph.jpg);
    border-bottom: 1px solid #999;
    box-sizing: border-box;
  }

  .core-bar {
    background-color: green;
    background-image: url(../../images/core-graph.jpg);
  }
}