.pick-sides {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .player {
    display: flex;
    justify-content: center;
    align-items: center;
    .player-name {
      width: 100%;
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }
  }

  .trash-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    fill: white;
    transition: fill .5s;
    z-index: 9;

    &:hover {
      fill: red;
    }
  }
}


#accept-teams-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  transition: all .5s ;
  opacity: 1;
  background-color: #086320;
  cursor: pointer;

  &.not-ready {
    opacity: .5;
    background-color: transparent;
  }

  &:hover {
    color: #b4b4b4;
  }
}

#game {
  text-align: center;
}